.myheader {
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid black;
    background-color: #FF90BC;
}

.myNav {
    font-size: 1.3rem;
    justify-content: center;
}

.nav-item > a {
    width: 200px;
}