/* Navigation Bar Styling */

.my-nav {
    background-color: #FF90BC;
}

.my-button {
    background-color: #FFC0D9;
}

.navbar-nav {
    margin: 0 auto;
}

.navbar a {
    color: white;
}

/* Hero/Jumbotron Styling */

.myHeader {
    background-color: #F9F9E0;
}

.me {
    height: 200px;
    width: 200px;
}

.heroContainer > .hero-title, .hero-intro {
    color: #FFC0D9 !important;
}